<script src="{{ site.baseurl }}/assets/{{ page.unity_dir }}/TemplateData/UnityProgress.js"></script>  
<script src="{{ site.baseurl }}/assets/{{ page.unity_dir }}/Build/UnityLoader.js"></script>
<script>
  var unityInstance = UnityLoader.instantiate("unityContainer", "{{ site.baseurl }}/assets/{{ page.unity_dir }}/Build/{{ page.unity_dir }}.json", {
    compatibilityCheck: function (unityInstance, onsuccess, onerror) {
      if (!UnityLoader.SystemInfo.hasWebGL) {
        unityInstance.popup("Your browser does not support WebGL",
          [{text: "OK", callback: onerror}]);
      } else if (UnityLoader.SystemInfo.mobile) {
        unityInstance.popup("Please note that Unity WebGL is not currently supported on mobiles. Press OK if you wish to continue anyway.",
          [{text: "OK", callback: onsuccess}]);
      } else if (["Edge", "Firefox", "Chrome", "Safari"].indexOf(UnityLoader.SystemInfo.browser) == -1) {
        unityInstance.popup("Please note that your browser is not currently supported for this Unity WebGL content. Press OK if you wish to continue anyway.",
          [{text: "OK", callback: onsuccess}]);
      } else {
        onsuccess();
      }
    },
    onProgress: UnityProgress,
    });  
</script>
<div class="webgl-content">
  <div id="unityContainer" style="width: 800px; height: 450px"></div>
</div>